{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="form-container">
    <div class="form-title-div">
        <img class="form-img cadre-left" src="{{ asset('dist/imgs/cadre-left.svg') }}">
        <h1 class="h3 mb-3 font-weight-normal form-title">Rejoignez la contrée</h1>
        <img class="form-img cadre-right" src="{{ asset('dist/imgs/cadre-right.svg') }}">
    </div>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn form-btn">Nous rejoindre</button>
    {{ form_end(registrationForm) }}

</div>
{% endblock %}
