{% extends 'base.html.twig' %}


{% block body %}




    <h1> Les dernières news</h1>

    <a href="{{ path('article', {'param':'event'}) }}">Evenements</a>
    <a href="{{path( 'article', { 'param': 'plan'})}}">Bons plans</a>
    <a href="{{ path('article', {'param': 'article'}) }}">Articles</a>
    <a href="{{path('article')}}">Tout voir</a>

    <div class="example-wrapper">

    {% for art in articles %}
    <div class="card">
        <div class="card-header">
            <h3>{{ art.title }}</h3>
            <hr>
            <a href="{{ path('user-profile', {'id' : art.author.id}) }}" title="Voir le profil">
                <blockquote>{{ art.author.firstname }} {{ art.author.lastname }}</blockquote>
            </a>
        </div>
        <div class="card-body">
            <p>{{ art.text }}</p>
        </div>
        <div class="card-footer">
            <p>{{ art.likes }} <i class="fa fa-heart"></i></p>
            <a type="button" class="btn btn-outline-dark" href="{{ path('see-article', {'id': art.id}) }}">Lire l'article</a>
        </div>

    </div>
    {% endfor %}


</div>











{% endblock %}