{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ user.firstname }} {{ user.lastname }}</h1>

    <p>{{ user.description }}</p>
    {% if isMine %}
    <a href="#">Modifier ma description</a>
    {% endif %}

    <h3>Logements</h3>

    {% if isMine %}
    <a href="{{ path('add-address') }}">Ajouter un logement</a>
    {% endif %}

    <div class="example-wrapper">
        {% for log in user.logements %}
        <div class="card">
            <p>log.title</p>
            <p>log.description</p>
        </div>
        {% endfor %}


    </div>

    <h3>Articles : </h3>

    <div class="example-wrapper">

        {% for art in articles %}
            <div class="card">
                <div class="card-header">
                    <h3>{{ art.title }}</h3>
                    <hr>
                    <a href="{{ path('user-profile', {'id' : art.author.id}) }}" title="Voir le profil">
                        <blockquote>{{ art.author.firstname }} {{ art.author.lastname }}</blockquote>
                    </a>
                </div>
                <div class="card-body">
                    <p>{{ art.text }}</p>
                </div>
                <div class="card-footer">
                    <p>{{ art.likes }} <i class="fa fa-heart"></i></p>
                    <a type="button" class="btn btn-outline-dark" href="{{ path('see-article', {'id': art.id}) }}">Lire l'article</a>
                </div>

            </div>
        {% endfor %}


    </div>


    {% if isMine == false %}
        {% if isFriend == false %}
    <a href="{{ path('add-friend', {'id' : user.id}) }}">Suivre {{ user.firstname }}</a>
        {% endif %}
    {% endif %}

    {% if isFriend == true %}
    <p>Vous suivez déjà {{user.firstname}}.</p>
    {% endif %}

    <h3>Amis : </h3>

    {% for friend in user.getFriends() %}
    <ul>
        <li>
            <a href="{{ path('user-profile', {'id' : friend.id}) }}" title="Voir le profil">
                {{ friend.firstName }} {{ friend.lastName }}
            </a>
        </li>
    </ul>
    {% endfor %}

{% endblock %}